.breadcrumb .active{
    background-color: transparent !important;
}
.manage-asset-input{
    width: 100%;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 10px;  
}
.dwPlXY {
    padding: 10px;
}
.rdt_TableHeader{
    width: max-content;
    right: 0;
    background-color: transparent !important;
    position: absolute !important;
    bottom: 0;
    transform: translateY(130%);
}
.kNxEtY{
    display: none;
}
.rdt_Table,.rdt_Pagination{
    /* background: linear-gradient(180deg, #1E1D47 18.75%, rgba(0, 0, 0, 0) 100%); */
    /* backdrop-filter: blur(16.0562px); */
    background-color:#1E1D47 !important;
    color: white;
}
.sc-eDWCr,.bzRnkJ div,.sc-bYMpWt{
    color: white;
}
.sc-gikAfH svg{
    fill: white;
}
.bBpdsi,.gMliOo svg {
    color: white !important;
}
.bzRnkJ,.rdt_TableHeadRow{
    background: transparent !important;
}
.rdt_TableBody{
    background-color: transparent !important;;
}
.rdt_TableRow{
    background: transparent !important;
    box-shadow: 0px 5.2732px 5.2732px rgba(0, 0, 0, 0.25) !important;
    position: relative;
    align-items: baseline !important;;
}
.hPQIua{
    position: absolute;
    right: 0;
    height: 100%;
}
.rdt_TableHead{
    margin-bottom: 20px !important;
    position: relative !important;
}
.rdt_Pagination{
    margin-top: 30px !important;
}
.fa-comment-alt{
    position: relative;
}

.fa-comment-alt::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    color:red;
    background-color: red;
    border-radius: 50%;
    transform: translate(50%, -50%);

}
/* .gMnBPf{
    position: absolute !important;
    right: 20px !important;
    height: 100% !important;
} */
.manage-assets{
    margin: 0;
    padding: 0;
}
.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
}
  
.input-icon {
    padding: 13px;
    color: white;
    min-width: 50px;
    text-align: center;
}
.input-icon-after{
    padding: 13px;
    color: white;
    min-width: 50px;
    text-align: center;
    position: absolute;
    right: 0;
    transform: translateX(-100%);
}
  
.input-field {
    width: 100%;
    padding-left: 50px;
}
.btn-create{
    padding: 10px;
    background-color: #F2EFEF;;
    border-radius: 1rem;
    border:1px solid #ccc;
    font-family: 'Inter Bold';
}
.tabs-container{
    width: 100%;
    background-color: #1E1D47;
    position: relative;
    display: flex;
    justify-content: center;
}
.tabs-container button{
    background-color: #282760;
    border: none;
    color: white;
    font-family: 'Inter Bold';
    font-size: .8rem;
    padding: 5px 10px ;
    cursor: pointer;
    margin: 10px;
    border-radius: .5rem;
}
.active-filter{
    background-color: #F2EFEF !important;
    color: black !important;
}
.kNUuTe{
    left: -100% !important;
}
.action-toggle{
    color: white !important;
}
.jaZsat{
    color: white !important;
}
.modal-content{
    background-color: #282760 !important;
}
.modal-title{
    color: white !important;
}