@keyframes modal-icon1 {
  0%   {
    background-color: green;
    color: white;
    transform: rotate(0);
  }
  100%   {
    color: green;
    background-color: white;
    transform: rotate(360deg);
  }
}

@keyframes modal-icon2 {
    0%   {
      background-color: red;
      color: white;
      transform: rotate(0);
    }
    100%   {
      color: red;
      background-color: white;
      transform: rotate(360deg);
    }
  }

.modal-icon-success{
    font-size: 60px;
    color: green;
    position: relative;
    top: -30px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    animation: modal-icon1 1.5s ;
}

.modal-icon-error{
    font-size: 60px;
    color: red;
    position: relative;
    top: -30px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    animation: modal-icon2 1.5s ;
}

.modal-custom{
    background-color: black !important;
    color: gray;
}