body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.container-sidebar {
  display: flex;
  margin: 0 !important;
  padding: 0 !important;
  text-decoration: none !important;
}
main {
  width: 100%;
  padding: 20px;
  background: linear-gradient(180deg, #BDA7A7 0%, rgba(237, 112, 222, 0.805781) 58.85%, rgba(38, 15, 49, 0.67) 100%);
}
.sidebar {
  background: #000;
  color: #fff;
  height: 100vh;
  width: 250px;
  transition: all 0.5s;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo-sidebar {
  font-size: 30px;
  height: 20px;
}
.bars {
  display: flex;
  font-size: 20px;
  /* margin-left: 10px; */
}
.link {
  padding-left: 30px;
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active {
  background: lightskyblue;
  color: #000;
}
.icon,
.link_text {
  font-size: 15px;
}
.link:last-child {
  position: absolute;
  bottom: 0px;
  align-items: center;
}

.modal-header-custom {
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100% !important;
  position: absolute;
}
