body {
  margin: 0;
  font-family: "Clash Display Medium";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: Clash Display Bold;
  src: url("https://xrcouture-xrcie.s3.ap-south-1.amazonaws.com/XRC_Homepage/homepage_contents/ClashDisplay-Bold.ttf");
}
@font-face {
  font-family: Clash Display Light;
  src: url("https://xrcouture-xrcie.s3.ap-south-1.amazonaws.com/XRC_Homepage/homepage_contents/ClashDisplay-Light.ttf");
}
@font-face {
  font-family: Clash Display ExtraLight;
  src: url("https://xrcouture-xrcie.s3.ap-south-1.amazonaws.com/XRC_Homepage/homepage_contents/ClashDisplay-Extralight.ttf");
}
@font-face {
  font-family: Clash Display Medium;
  src: url("https://xrcouture-xrcie.s3.ap-south-1.amazonaws.com/XRC_Homepage/homepage_contents/ClashDisplay-Medium.ttf");
}
@font-face {
  font-family: Clash Display SemiBold;
  src: url("https://xrcouture-xrcie.s3.ap-south-1.amazonaws.com/XRC_Homepage/homepage_contents/ClashDisplay-Semibold.ttf");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.container-sidebar {
  display: flex;
  margin: 0 !important;
  padding: 0 !important;
  text-decoration: none !important;
}
main {
  width: 100%;
  background: #0A0930;
}
.sidebar {
  background: #000;
  color: #fff;
  height: auto;
  min-height: 100vh;
  width: 250px;
  transition: all 0.5s;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo-sidebar {
  font-size: 30px;
  height: 20px;
}
.bars {
  display: flex;
  font-size: 20px;
  /* margin-left: 10px; */
}
.link {
  padding-left: 30px;
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active {
  background: lightskyblue;
  color: #000;
}
.icon,
.link_text {
  font-size: 15px;
}
.link:last-child {
  position: absolute;
  bottom: 0px;
  align-items: center;
}

.modal-header-custom {
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100% !important;
  position: absolute;
}
